main{
    height:80vh;
    background:url('noaa-99F4mC79j1I-unsplash.jpg') 30% 45%;
    opacity:0.8;
    display:flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Fira Sans', serif;
    color:#262020;
    font-size:1.5rem;
}

body{font-family: 'Montserrat', sans-serif}

 #container{
        display:grid;
        grid-template-areas: 
        "hd"
        "form"
        "display";
        grid-template-rows: 60px 130px 130px;
        grid-gap:15px;
        border-radius:0.8rem;
    box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f;
    background:#ffffff;
    opacity: 0.8;    
    padding:0.75rem;
    width:50vw;
}

@media(min-width:600px){

    #weatherRequest{
        grid-area:form;
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items:flex-start
    }
    h1{
        font-size:2rem;
    }

}

#weatherRequest{
    grid-area:form;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:flex-start
}

#title{
    grid-area: hd;
}




#dataDisplay{
    grid-area:display;
    display:flex;
    flex-direction:column;
    padding:0.5rem;
    background-color:  #c9b5b5;
    border: 1px groove #797979;
}

button{
    border-radius: 0.75em;
    padding:0.5em;
    box-sizing:border-box;
    font-family: 'Roboto';
    background-color:#262020;
    border:1px#262020 solid;
    color:#ffffff;
    font-size:1rem;
}

button:hover{
    background-color: #837070;
    border-color: #837070;
    color:#000000;
}

label{font-weight:bold}